/* Error: Undefined mixin.
 *     ,
 * 287 | /                                         @include tablet{
 * 288 | |                                             font-size: 0.5rem;
 * 289 | |                                             margin: 10px;  
 * 290 | \                                         }
 *     '
 *   scss\estilo.scss 287:41  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 287 \2502  \250c                                          @include tablet{\a 288 \2502  \2502                                              font-size: 0.5rem;\a 289 \2502  \2502                                              margin: 10px;  \a 290 \2502  \2514                                          }\a     \2575 \a   scss\\estilo.scss 287:41  root stylesheet";
}
