.main_inicio { /*index*/
  grid-area: main;
  padding-bottom: 4rem;
}
.main_inicio h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}
.main_inicio #inicio_obras {
  padding-left: 2.5rem;
}
.main_inicio #inicio_obras .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.main_inicio #inicio_obras .row img {
  width: 90%;
  height: 250px;
}

h2 { /*nosotros*/
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}

.valores_titulo {
  padding-left: 3rem;
  font-weight: bold;
}

section div .valores p {
  padding-left: 3rem;
  font-size: 1.3rem;
  padding-right: 3rem;
}
section div .valores ul {
  list-style-type: none;
  padding-left: 4rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.main_nosotros .hacemos_titulo {
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
  color: black;
}
.main_nosotros p {
  padding-left: 3rem;
  font-size: 1.3rem;
  padding-right: 3rem;
  color: black;
}
.main_nosotros #un {
  margin-bottom: 5rem;
}
.main_nosotros #un .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.main_nosotros #un .row div img {
  width: 380px;
  height: 250px;
}

.portada_obras { /*obras*/ }
.portada_obras img {
  width: 100%;
}

.main_inicio {
  grid-area: main;
  padding-bottom: 4rem;
}
.main_inicio h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}
.main_inicio #obras_cro {
  padding-left: 2.5rem;
  padding-bottom: 4rem;
}
.main_inicio #obras_cro .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.main_inicio #obras_cro .row div img {
  width: 90%;
  height: 250px;
  opacity: 0.3;
}
.main_inicio #obras_cro .row div img:hover {
  opacity: 1;
}

main { /*enej*/ }
main section h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}
main .port_enej {
  width: 100%;
}
main .texto_enej {
  padding: 0rem 2rem;
  color: #8b8784;
}
main .brochure {
  text-align: center;
}
main #galeria {
  margin-bottom: 1rem;
}
main #galeria .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
main #galeria .row div {
  padding: 25px;
}
main #galeria .row div img {
  width: 100%;
  height: 250px;
}

h2 { /*contactanos*/
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}

section .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
section .row img {
  height: 3rem;
  width: 3rem;
}

div #form {
  text-align: left;
  margin: 1rem;
  padding-left: 1rem; /*arreglar*/
  padding-bottom: 6.5rem;
}

.footer {
  grid-area: footer;
  background-color: #8b8784;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .grupo1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "cel redes mail";
  padding: 1rem 0rem;
  font-weight: bold;
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .footer .grupo1 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "cel" "redes" "mail";
    flex-direction: column;
    margin: 0px;
  }
}
.footer .grupo1 .box {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer .grupo1 .box {
    padding: 3px 0px;
  }
}
.footer .grupo1 .box a {
  text-decoration: none;
}
.footer .grupo1 .box a img {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer .grupo1 .box p {
  text-decoration: none;
}
.footer .grupo2 {
  text-align: center;
}

* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 20vh;
}
body .contenedor_inicio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.01fr 0.01fr 0.01fr 0.01fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "header" "portada" "main" "footer";
}
body .contenedor_inicio #menu .container-fluid .navbar-brand {
  margin-left: 10%;
  margin-right: 15%;
}
body .contenedor_inicio #menu .container-fluid .navbar-brand img {
  height: 12rem;
}
@media screen and (max-width: 768px) {
  body .contenedor_inicio #menu .container-fluid .navbar-brand img {
    height: 8rem;
  }
}
body .contenedor_inicio #menu .container-fluid .navbar-toggler {
  margin-right: 1rem;
}
body .contenedor_inicio #menu .container-fluid #navbarNav .navbar-nav .nav-item .nav-link {
  color: #8b8784;
  font-size: 1.4rem;
  margin: 40px;
  font-weight: bold;
}
body .contenedor_inicio #menu .container-fluid #navbarNav .navbar-nav .nav-item .nav-link:hover {
  color: black;
}

.footer {
  grid-area: footer;
  background-color: #8b8784;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .grupo1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "cel redes mail";
  padding: 1rem 0rem;
  font-weight: bold;
  padding-top: 5%;
}
.footer .grupo1 .box {
  text-align: center;
}
.footer .grupo1 .box a {
  text-decoration: none;
}
.footer .grupo1 .box a img {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer .grupo1 .box p {
  text-decoration: none;
}
.footer .grupo2 {
  text-align: center;
}

.main_inicio { /*index*/
  grid-area: main;
  padding-bottom: 4rem;
}
.main_inicio h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}
.main_inicio #inicio_obras {
  padding-left: 2.5rem;
}
.main_inicio #inicio_obras .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.main_inicio #inicio_obras .row img {
  width: 90%;
  height: 250px;
}

h1 { /*nosotros*/
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2.3rem;
  padding-top: 10px;
}

.valores_titulo {
  padding-left: 3rem;
  font-weight: bold;
}

section div .valores p {
  padding-left: 3rem;
  font-size: 1.3rem;
  padding-right: 3rem;
}
section div .valores ul {
  list-style-type: none;
  padding-left: 4rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.main_nosotros .hacemos_titulo {
  font-weight: bold;
  padding-top: 2rem;
  padding-left: 3rem;
  color: black;
}
.main_nosotros p {
  padding-left: 3rem;
  font-size: 1.3rem;
  padding-right: 3rem;
  color: black;
}
.main_nosotros #un {
  margin-bottom: 5rem;
}
.main_nosotros #un .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.main_nosotros #un .row div img {
  width: 380px;
  height: 250px;
}

.portada_obras { /*obras*/ }
.portada_obras img {
  width: 100%;
}

.main_inicio {
  grid-area: main;
  padding-bottom: 4rem;
}
.main_inicio h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2.3rem;
  padding-top: 10px;
}
.main_inicio #obras_cro {
  padding-left: 2.5rem;
  padding-bottom: 4rem;
}
.main_inicio #obras_cro .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
.main_inicio #obras_cro .row div img {
  width: 90%;
  height: 250px;
  opacity: 0.3;
  transition: 2s;
}
.main_inicio #obras_cro .row div img:hover {
  opacity: 1;
  transition: 2s;
}

main { /*enej*/ }
main section h2 {
  text-align: center;
  color: black;
  font-weight: bold;
  padding-top: 10px;
}
main .port_enej {
  width: 100%;
}
main .texto_enej {
  padding: 0rem 2rem;
  color: #8b8784;
}
main .brochure {
  text-align: center;
}
main #galeria {
  margin-bottom: 1rem;
}
main #galeria .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
main #galeria .row div {
  padding: 25px;
}
main #galeria .row div img {
  width: 100%;
  height: 250px;
}

h1 { /*contactanos*/
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 2.3rem;
  padding-top: 10px;
}

section .row {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}
section .row img {
  height: 3rem;
  width: 3rem;
}

div #form {
  text-align: left;
  margin: 1rem;
  padding-bottom: 6.5rem;
}

.footer {
  grid-area: footer;
  background-color: #8b8784;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .grupo1 {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "cel redes mail";
  padding: 1rem 0rem;
  font-weight: bold;
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .footer .grupo1 {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "cel" "redes" "mail";
    flex-direction: column;
    margin: 0px;
  }
}
.footer .grupo1 .box {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer .grupo1 .box {
    padding: 3px 0px;
  }
}
.footer .grupo1 .box a {
  text-decoration: none;
}
.footer .grupo1 .box a img {
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer .grupo1 .box p {
  text-decoration: none;
}
.footer .grupo2 {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
